*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dd{
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}
.d0{
    color: #0796D6;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.ddd{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}
.d1{
    font-weight: bold;
}
.d{
   font-weight: normal;
}
.inf{
    margin: 50px 200px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.black{
    background: #2A363F;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 50px 0;
    height: 160px;
    width: 400px;
}
.blue{
    background: #0796D6;
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding: 50px 0;
    height: 160px;
    width: 400px;
}
.grey{
    background: #F5F5F5;
    font-weight: bold;
    font-size: 30px;
    color: black;
    padding: 50px 0;
    height: 160px;
    width: 400px;
}