.c{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
    font-weight: bold;
}
.color{
    color: #0796D6;
}
.c1{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}
.style{
    max-width: 300px;
    height: 344px;
    border-radius: 10px;
    padding: 50px;
    justify-content: center;
    box-shadow:
  /* solid top and bottom */
  0 -6px 0 #0796D6,
  0 6px 0 #0796D6,

  /* soft side glow */
  -8px 0 15px -5px rgba(7,150,214,0.6),   /* left */
  8px 0 15px -5px rgba(7,150,214,0.6);    /* right */

    cursor: pointer;
}
.heading{
    font-size: 24px;
    font-weight: bold;

}
.c1:hover{
    transition: 0.5s ease-in;
    font-size: 15px;
}
.c2{
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}
.cc2{
    color : #0796D6;
    font-weight: bold;
    font-size: 35px;
}
.ccc{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.c3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    justify-items: center;
    background: #F7F7F7;
}
img{
    max-width: 400px;
    max-height: 250px;
    padding: 20px;
}
.c4{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}